<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="Content-Language" content="en"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/syntax.css" type="text/css" media="screen"/>
</head>

<script type="text/javascript">
        var disqus_awesome = {{ site.disqus_awesome }}; 
        var disqus_developer = {{ site.disqus_devel }};
</script>    
<script type="text/javascript">
          (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                          po.src = 'https://apis.google.com/js/plusone.js';
                              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                })();
                        </script>


        <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics_code }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<body>
    <div class="outercolumn">
        <div class="topbar">
            <a href="/index.html">Home</a> - <a href="{{ site.pet }}/archives/index.html">archive</a>
        </div>

        <div class="column">
            <div class="content">
                {{ content }}
            </div>
            {% include footer.html %}
            <div class="pageend"></div>
        </div>
    </div>
</body>
</html>

