---
layout: default_new
---
<font size="-1">
<b>{{ page.title }}</b><br/>
<br>
<!-- content here -->
{{ content }}
<!-- end content -->

<!-- generate tag -->
Tags: {% for tag in page.categories %}
<a rel="tag" href="{{ site.pet }}/tags/{{ tag }}.html">{{ tag }}</a>, 
{% endfor %}

<br>
<br>
<br>


</font>

<b>Related Posts</b><br/>

{% for post in site.related_posts limit:5 %}
      <li><a href="{{ site.pet }}{{ post.url }}">{{ post.title }}</a> - <span>{{ post.date | date: "%b %d %Y" }}</span></li>
{% endfor %}

<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://buildsystem.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=buildsystem">comments powered by Disqus.</a></noscript>
